<br>
<% if @booking.status == "cancelled" %>
  <p>Unfortunately the booking got cancelled ...</p>
<% elsif @booking.status == "confirmed" %>
  <p>You confirmed it - thank you for using Sir-Parks-A-Lot!</p>
<% else %>
  <p>Do you want to cancel the booking?</p>
  <%= link_to "Cancel", cancel_booking_path(@booking), class: "btn btn-danger" %>
  <p>Do you want to confirm the booking?</p>
  <%= link_to "Confirm", confirm_booking_path(@booking), class: "btn btn-success" %>
<% end %>