<h1>Bookings#show</h1>
<p>Find me in app/views/bookings/show.html.erb</p>


<p>todo - copy (or add _xxx) mostly 1:1 from parking_spot#show, including updated "booking box"</p>
<h2><%= pluralize(@booking.comments.count, "Comment") %></h2>
<ul class="list">
  <% @comments.each do |comment| %>
  <li class= "list-item">
  <%= comment.user.username %>
    <%= comment.content %>
  </li>
  <% end %>
</ul>
<%= render '/comments/form' %>
