<% content_for :title, "Update #{@user.username} profile" %>


<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <h1>Update user profile</h1>
      <%= render 'form' %>
    </div>
  </div>
</div>
