<div id="footer">
  <ul class="list-inline">
    <li>
      <a href="http://www.lewagon.org">
        <i
        class="fa fa-heart">
      </i></a>
    </li>
    <li>
      <a href="https://www.youtube.com/watch?v=oHg5SJYRHA0">
        <i
        class="fa fa-youtube">
      </i></a>
    </li>
    <li>
      <a href="http://www.facebook.com">
        <i
        class="fa fa-facebook">
      </i></a>
    </li>
    <%= image_tag "parklogo.png", class: "avatar-square pull-right" %>
    <p>LeWagon4Life</p>
</div>
