<% unless account_signed_in? %>
<div class="banner" style="background-image: linear-gradient(-225deg, rgba(51,51,51,0.8) 25%, rgba(51,51,51,0.9) 75%), url('<%= image_path 'background_image.jpg' %>');">
  <div class="banner-content">
    <%= image_tag 'parklogo.png', :class => "logo_header" %>
    <h1>Sir Parks a Lot</h1>
      <p>Make parking fun again!</p>
  </div>
</div>
<% end %>
