<form action="/parking_spots/search" method="get" class="navbar-wagon-search" >
  <input type="text" class="navbar-wagon-search-input" placeholder="Search for city" name="city">
  <select name="size">
    <option></option>
    <option value="small">Small</option>
    <option value="medium">Medium</option>
    <option value="large">Large</option>
  </select>
  <button type="submit" class="navbar-wagon-search-btn">
    <i class="fa fa-search"></i>
  </button>
</form>
