// Your footer style

#footer {
    background: #333333;
    padding: 30px;
    color: #CCCCCC;
}

#footer p {
    margin-top: 17px;
}

#footer ul {
    margin-top: 10px;
}

#footer a {
    color: #CCCCCC;
    font-size: 30px;
    letter-spacing: 20px;
    transition: 2000ms;
}

#footer a:hover {
    color: yellow;
}