<% content_for :title, "Sir Parks a Lot - #{@parking_spot.title}" %>


<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <%= render 'booking_form' %>
    </div>
    <div class="row">
    <%= render 'parking_spot' %></div>
  </div>
</div>
